<section data-ng-controller="HomeController" data-ng-init="init()">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">


			<!-- Display prompt to Twitter OAuth if user hasn't done that -->
			<div ng-hide="authSuccess">
				<h3 class="text-center"><em>Please sign in with the <strong>@CivicJobsNYC</strong> Twitter account to continue</em></h3>
				<p><em>{{ info }}</em></p>
			</div>


			<!-- Once user has auther w/ Twitter and entered password, display Scraper status and controls-->
			<div ng-show="authSuccess">
				Scraper
			</div>

		</div>
	</div>
</section>
