<section data-ng-controller="HomeController">
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Display prompt to Twitter OAuth if user hasn't done that -->
      <div ng-hide="authSuccess">
        <h3 class="text-center"><em>Please sign in with the <strong>@CivicJobsNYC</strong> Twitter account to continue</em></h3>
        <p><em>{{ info }}</em></p>
      </div>
      <!-- Once user has auther w/ Twitter and entered password, display Scraper status and controls-->
      <div ng-show="authSuccess">
        <tabset>
          <tab heading="Controls">
            <section data-ng-controller="ScrapesController" data-ng-init="checkStatus()">
              <h3>Scraper Status: {{status}}</h3>
              <p ng-show="pending">Scheduled scrape at: {{pending | date:'shortTime'}}</p>
              <button class="btn btn-success" ng-click="activate()">Activate</button>
              <button class="btn btn-danger" ng-click="deactivate()">Deactivate</button>
            </section>
          </tab>
          <tab heading="Jobs">
            <section data-ng-controller="JobsController" data-ng-init="find()">
              <h3>Jobs:</h3>
              <hr>
              <div ng-repeat="job in jobs">
                <a href="{{job.link}}">
                  <p>Title: {{ job.title }}</p>
                </a>
                <p>Agency: {{ job.agency }}</p>
                <p>Location: {{ job.location }}</p>
                <p>Date: {{ job.date }}</p>
                <p>Tweeted: <strong>{{ job.tweeted }}</strong></p>
                <hr>
              </div>
            </section>
          </tab>
          <tab heading="Scrapes">
            <section data-ng-controller="ScrapesController" data-ng-init="find()">
              <h3>Scrapes:</h3>
              <hr>
              <div ng-repeat="scrape in scrapes">
                <p>Date: {{ scrape.created | date:'short'}}</p>
                <p># of Jobs: {{ scrape.jobs.length }}</p>
                <hr>
              </div>
            </section>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</section>
